[Unit]
After=network-online.target docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/mkdir -p /var/lib/lenpaste/
ExecStart=/usr/bin/docker run --pull always -t -p 8000:8000/tcp -v /var/lib/lenpaste:/app/data lcomrade/lenpaste:latest
ExecStop=/usr/bin/docker stop lcomrade/lenpaste

[Install]
WantedBy=multi-user.target
