{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{ call .Translate `about.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
{{if ne .ServerAbout ``}}
<h3>{{ call .Translate `about.AboutServerTitle` }}</h3>
{{ call .Highlight .ServerAbout `plaintext` }}
{{end}}

{{if ne .ServerRules ``}}
<h3>{{ call .Translate `about.RulesTitle` }}</h3>
{{ call .Highlight .ServerRules `plaintext` }}
{{if .ServerTermsExist}}<p>{{ call .Translate `about.SeeTerms` `/terms` }}</p>{{end}}
{{end}}

<h3>{{ call .Translate `about.Limit` }}</h3>
{{if ne .TitleMaxLen 0}}
	{{if gt .TitleMaxLen 0}}
	<p>{{call .Translate `about.LimitTitle` .TitleMaxLen}}<br>
	{{else}}
	<p>{{ call .Translate `about.LimitTitleNo` }}<br>
	{{end}}
{{else}}
<p>{{ call .Translate `about.LimitTitleDisable` }}<br>
{{end}}
{{if gt .BodyMaxLen 0}}
{{call .Translate `about.LimitBody` .BodyMaxLen }}<br>
{{else}}
{{ call .Translate `about.LimitBodyNo` }}<br>
{{end}}
{{if gt .MaxLifeTime 0}}
{{call .Translate `about.LimitLifeTime` .MaxLifeTime }}</p>
{{else}}
{{ call .Translate `about.LimitLifeTimeNo` }}</p>
{{end}}

{{if or (ne .AdminName ``) (ne .AdminMail ``)}}
<h3>{{ call .Translate `about.AdminTitle` }}</h3>
{{if ne .AdminName ``}}<p>{{ call .Translate `about.AdminName` }} <code>{{.AdminName}}</code></p>{{end}}
{{if ne .AdminMail ``}}<p>{{ call .Translate `about.AdminEmail` }} <a href="mailto:{{.AdminMail}}">{{.AdminMail}}</a></p>{{end}}
{{end}}

<h3>{{ call .Translate `about.LenpasteTitle` }}</h3>
<p>{{call .Translate `about.LenpasteMessage` .Version}}</p>
<ul>
	<li>{{ call .Translate `about.Lenpaste1` `/about/source_code` `/about/license` `AGPL 3` }}</li>
	<li>{{ call .Translate `about.Lenpaste2` }}</li>
	<li>{{ call .Translate `about.Lenpaste3` }}</li>
	<li>{{ call .Translate `about.Lenpaste4` }}</li>
	<li>{{ call .Translate `about.Lenpaste5` `/docs/apiv1` }}</li>
</ul>
<p>{{call .Translate `about.LenpasteAuthors` `/about/authors`}}</p>
{{end}}
