{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{ call .Translate `pasteEmbHelp.Title` }} {{.ID}} | {{end}}
{{define "headAppend"}}<script src="/code.js"></script>{{end}}
{{define "article"}}
<h3><a href="/{{.ID}}">{{.ID}}</a> / {{ call .Translate `pasteEmbHelp.Title` }}</h3>
{{if or (.OneUse) (ne .DeleteTime 0)}}
<p>{{ call .Translate `pasteEmbHelp.OneUseError` }}`</p>
{{else}}
<p>{{ call .Translate `pasteEmbHelp.Message` }}</p>
{{call .Highlight (printf `<iframe src="%s://%s/emb/%s" width="100%%" height="100%%" frameborder="0"></iframe>` .Protocol .Host .ID) `html`}}
{{end}}
{{end}}
