{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{end}}
{{define "headAppend"}}<script src="/space.js"></script>{{end}}
{{define "article"}}
<div class="tab-container">
	<h3 class="tab-normal"><a href="/">{{call .Translate `tab.Paste`}}</a></h3
	><h3 class="tab-active">{{call .Translate `tab.CodeSpace`}}</h3>
</div>
<noscript>{{call .Translate `noscript`}}</noscript>
{{end}}
