{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{ call .Translate `authors.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/about">{{ call .Translate `about.Title` }}</a> / {{ call .Translate `authors.Title` }}</h3>
<ul>
	<li>Leonid Maslakov (aka lcomrade) &lt<a href="mailto:root@lcomrade.su">root@lcomrade.su</a>&gt - Core Developer.</li>
	<li>Soumyajit Dass (aka Pardesi_Cat) &lt<a href="mailto:contact@pardesicat.xyz">contact@pardesicat.xyz</a>&gt - Translated into Bengali.</li>
	<li>Hiajen (Matrix: <a href="https://matrix.to/#/@hiajen:matrix.hiajen.de">@hiajen:matrix.hiajen.de</a>; site: <a href="https://info.hiajen.de">info.hiajen.de</a>) - Translated into German.</li>
</ul>
{{end}}
