{{define "titlePrefix"}}{{ call .Translate `authors.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/about">{{ call .Translate `about.Title` }}</a> / {{ call .Translate `authors.Title` }}</h3>
<ul>
	<li>Leonid Maslakov &lt<a href="mailto:root@lcomrade.su">root@lcomrade.su</a>&gt - Core Developer.</li>
</ul>
{{end}}
