{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{ call .Translate `docsAPIv1Libs.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/docs">{{ call .Translate `docs.Title` }}</a> / {{ call .Translate `docsAPIv1Libs.Title` }}</h3>
<h4 id="recommended">{{ call .Translate `docsAPIv1Libs.Recommended` }}</h4>
<table>
	<th>{{ call .Translate `docsAPIv1Libs.Name` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.Language` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.ApiVersion` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.Status` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.License` }}</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/pasteapi.go" target="_blank">PasteAPI.go</a></td>
		<td>Go</td>
		<td>v1.2</td>
		<td>{{ call .Translate `docsAPIv1Libs.StatusOfficial`}}</td>
		<td>MIT</td>
	</tr>
</table>
<h4 id="out_of_date">{{ call .Translate `docsAPIv1Libs.OutOfDateTitle` }}</h4>
<p>{{ call .Translate `docsAPIv1Libs.OutOfDataMessage` }}</p>
<table>
	<th>{{ call .Translate `docsAPIv1Libs.Name` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.Language` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.ApiVersion` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.Status` }}</th>
	<th>{{ call .Translate `docsAPIv1Libs.License` }}</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/lenin" target="_blank">Lenin</a></td>
		<td>Go</td>
		<td>v0.2</td>
		<td>{{ call .Translate `docsAPIv1Libs.StatusOfficial` }}</td>
		<td>{{ call .Translate `docsAPIv1Libs.GPL3Later` }}</td>
	</tr>
	<tr>
		<td><a href="https://github.com/rjdbcm/pylenin" target="_blank">PyLenin</a></td>
		<td>Python</td>
		<td>v0.1</td>
		<td>{{ call .Translate `docsAPIv1Libs.StatusUnofficial` }}</td>
		<td>{{ call .Translate `docsAPIv1Libs.GPL3Later` }}</td>
	</tr>
</table>
{{end}}
