{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{call .Translate `docsAPIv1.Title`}} | {{end}}
{{define "headAppend"}}<script src="/code.js"></script>{{end}}
{{define "article"}}
<h3><a href="/docs">{{call .Translate `docs.Title`}}</a> / {{call .Translate `docsAPIv1.Title`}}</h3>

<p>{{call .Translate `docsAPIv1.Introduction1`}}</p>
<p>{{call .Translate `docsAPIv1.Introduction2`}}</p>

<h4 id="table-of-content">{{call .Translate `docsAPIv1.TableOfContent`}}</h4>
<ul>
	<li><a href="#new">POST <code>/api/v1/new</code></a></li>
	<li><a href="#get">GET <code>/api/v1/get</code></a></li>
	<li><a href="#getServerInfo">GET <code>/api/v1/getServerInfo</code></a></li>
	<li><a href="#errors">{{call .Translate `docsAPIv1.PossibleAPIErrors`}}</a></li>
</ul>


<h4 id="new">POST <code>/api/v1/new</code></h4>
<p>{{call .Translate `docsAPIv1.NewPasteAuth`}}</p>
<p>{{call .Translate `docsAPIv1.RequestParameters`}}</p>
<table>
	<th>{{call .Translate `docsAPIv1.Field`}}</th>
	<th>{{call .Translate `docsAPIv1.Required`}}</th>
	<th>{{call .Translate `docsAPIv1.Default`}}</th>
	<th>{{call .Translate `docsAPIv1.Description`}}</th>
	<tr>
		<td><code>title</code></td>
		<td></td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqNewTitle`}}</td>
	</tr>
	<tr>
		<td><code>body</code></td>
		<td>{{call .Translate `docsAPIv1.RequiredYes`}}</td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqNewBody`}}</td>
	</tr>
	<tr>
		<td><code>lineEnd</code></td>
		<td></td>
		<td><code>LF</code></td>
		<td>{{call .Translate `docsAPIv1.ReqNewLineEnd`}}</td>
	</tr>
	<tr>
		<td><code>syntax</code></td>
		<td></td>
		<td><code>plaintext</code></td>
		<td>{{call .Translate `docsAPIv1.ReqNewSyntax` `#getServerInfo`}}</td>
	</tr>
	<tr>
		<td><code>oneUse</code></td>
		<td></td>
		<td><code>false</code></td>
		<td>{{call .Translate `docsAPIv1.ReqNewOneUse`}}</td>
	</tr>
	<tr>
		<td><code>expiration</code></td>
		<td></td>
		<td><code>0</code></td>
		<td>{{call .Translate `docsAPIv1.ReqNewExpiration`}}</td>
	</tr>
	<tr>
		<td><code>author</code></td>
		<td></td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqNewAuthor` .MaxLenAuthorAll}}</td>
	</tr>
	<tr>
		<td><code>authorEmail</code></td>
		<td></td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqNewAuthorEmail` .MaxLenAuthorAll}}</td>
	</tr>
	<tr>
		<td><code>authorURL</code></td>
		<td></td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqNewAuthorURL` .MaxLenAuthorAll}}</td>
	</tr>
</table>
<p>{{call .Translate `docsAPIv1.ResponseExample`}}</p>
{{ call .Highlight `{
	"id": "XcmX9ON1",
	"createTime": 1653387358,
	"deleteTime": 0
}` `json`}}


<h4 id="get">GET <code>/api/v1/get</code></h4>
<p>{{call .Translate `docsAPIv1.RequestParameters`}}</p>
<table>
	<th>{{call .Translate `docsAPIv1.Field`}}</th>
	<th>{{call .Translate `docsAPIv1.Required`}}</th>
	<th>{{call .Translate `docsAPIv1.Default`}}</th>
	<th>{{call .Translate `docsAPIv1.Description`}}</th>
	<tr>
		<td><code>id</code></td>
		<td>{{call .Translate `docsAPIv1.RequiredYes`}}</td>
		<td></td>
		<td>{{call .Translate `docsAPIv1.ReqGetID`}}</td>
	</tr>
	<tr>
		<td><code>openOneUse</code></td>
		<td></td>
		<td><code>false</code></td>
		<td>{{call .Translate `docsAPIv1.ReqGetOpenOneUse`}}</td>
	</tr>
</table>
<p>{{call .Translate `docsAPIv1.ResponseExample`}}</p>
{{ call .Highlight `{
	"id": "XcmX9ON1",
	"title": "Paste title.",
	"body": "Line 1.\nLine 2.\nLine 3.\n\nLine 5.",
	"createTime": 1653387358,
	"deleteTime": 0,
	"oneUse": false,
	"syntax": "plaintext",
	"author": "Anon",
	"authorEmail": "me@example.org",
	"authorURL": "https://example.org"
}` `json`}}
{{ call .Highlight `{
	"id": "5mqqHZRg",
	"title": "",
	"body": "",
	"createTime": 0,
	"deleteTime": 0,
	"oneUse": true,
	"syntax": "",
	"author": "",
	"authorEmail": "",
	"authorURL": ""
}` `json`}}


<h4 id="getServerInfo">GET <code>/api/v1/getServerInfo</code></h4>
<p>{{call .Translate `docsAPIv1.ResponseExample`}}</p>
{{ call .Highlight `{
	"software": "Lenpaste",
	"version": "1.2",
	"titleMaxlength": 100,
	"bodyMaxlength": 20000,
	"maxLifeTime": -1,
	"serverAbout": "",
	"serverRules": "",
	"serverTermsOfUse": "",
	"adminName": "Vasya Pupkin",
	"adminMail": "me@example.org",
	"syntaxes": [
		"ABAP",
		"ABNF",
		"AL",
		"ANTLR",
		"APL",
		"ActionScript",
		"ActionScript 3",
		"Ada",
		"Angular2",
		"ApacheConf",
		"AppleScript",
		"Arduino",
		"ArmAsm",
		"Awk"
	],
	"uiDefaultLifeTime": "1y",
	"authRequired": false
}` `json`}}


<h4 id="errors">{{call .Translate `docsAPIv1.PossibleAPIErrors`}}</h4>
<p>{{call .Translate `docsAPIv1.Error400`}}</p>
{{ call .Highlight `{
	"code": 400,
	"error": "Bad Request"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error401`}}</p>
{{ call .Highlight `{
	"code": 401,
	"error": "Unauthorized"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error404n1`}}</p>
{{ call .Highlight `{
	"code": 404,
	"error": "Could not find ID"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error404n2`}}</p>
{{ call .Highlight `{
	"code": 404,
	"error": "Not Found"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error405`}}</p>
{{ call .Highlight `{
	"code": 405,
	"error": "Method Not Allowed"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error413`}}</p>
{{ call .Highlight `{
	"code": 413,
	"error": "Payload Too Large"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error429`}}</p>
{{ call .Highlight `{
	"code": 429,
	"error": "Too Many Requests"
}` `json`}}

<p>{{call .Translate `docsAPIv1.Error500`}}</p>
{{ call .Highlight `{
	"code": 500,
	"error": "Internal Server Error"
}` `json`}}
{{end}}
