{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

<!doctype html>
<html>
	<head>
		<style>
			body {
				margin: 0;
				font-family: monospace;
				font-size: 16px;
				color: #F8F8F2;
				background-color: #272822;
			}
			header {
				padding: 0.4em 1.8em 0.4em 1.8em;
				display: flex;
				justify-content: space-between;
			}
			.header-right {
				align-self: flex-end;
				text-align: right;
			}
			header a {
				color: #FFFFFF;
				text-decoration: none;
			}
			pre {
				border-top: 1px solid #75715E;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<header>
			<div>{{if .Title}}<a href="/{{.ID}}" target="_blank">{{.Title}}</a>{{end}}</div>
			<div class="header-right"><a href="/{{.ID}}" target="_blank">{{.CreateTimeStr}}</a></div>
		</header>
		{{if or (.ErrorNotFound) (.OneUse) (ne .DeleteTime 0)}}
		<article>
			{{if .ErrorNotFound}}
			<pre><code style="margin-left: 0.4em;"><span style="color: #F92672;">{{ call .Translate `pasteEmd.Error` }}:</span> {{ call .Translate `pasteEmd.ErrorNotFound` }}</code></pre>
			{{else}}
			<pre><code style="margin-left: 0.4em;"><span style="color: #F92672;">{{ call .Translate `pasteEmd.Error` }}:</span> {{ call .Translate `pasteEmb.ErrorCouldNotEmb` }}</code></pre>
			{{end}}
		</article>
		{{else}}
		<article>{{.Body}}</article>
		{{end}}
	</body>
</html>
