{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{.Code}} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3>{{.Code}}</h3>
{{if eq .Code 400 }}<p>{{ call .Translate `error.400` }}</p>{{end}}
{{if eq .Code 401 }}<p>{{ call .Translate `error.401` }}</p>{{end}}
{{if eq .Code 404 }}<p>{{ call .Translate `error.404` }}</p>{{end}}
{{if eq .Code 405 }}<p>{{ call .Translate `error.405` }}</p>{{end}}
{{if eq .Code 413 }}<p>{{ call .Translate `error.413` }}</p>{{end}}
{{if eq .Code 429 }}<p>{{ call .Translate `error.429` }}</p>{{end}}
{{if eq .Code 500 }}<p>{{ call .Translate `error.500` }}</p>{{end}}


{{if and (ne .AdminName ``) (ne .AdminMail ``)}}
<p>{{ call .Translate `error.AdminContacts` }} <code>{{.AdminName}} &lt<a href="mailto:{{.AdminMail}}">{{.AdminMail}}</a>&gt</code></p>
{{else}}
{{if ne .AdminName ``}}<p>{{ call .Translate `error.AdminContacts` }} <code>{{.AdminName}}</code></p>{{end}}
{{if ne .AdminMail ``}}<p>{{ call .Translate `error.AdminContacts` }} <code><a href="mailto:{{.AdminMail}}">{{.AdminMail}}</a></code></p>{{end}}
{{end}}

<p><a href="/"><< {{ call .Translate `error.BackToHome` }}</a></p>
{{end}}
