{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{end}}
{{define "headAppend"}}<script src="/main.js"></script>{{end}}
{{define "article"}}
{{if eq .AuthOk false}}
<h3>{{call .Translate `main.CreatePaste`}}</h3>
<p>{{call .Translate `main.AuthRequired`}}</p>
{{else}}
{{if ne .TitleMaxLen 0}}<h3>{{call .Translate `main.CreatePaste`}}</h3>{{end}}
<form id="create-paste-form" action="/" method="post">
	<div class="text-bar">
		<div>
			{{if ne .TitleMaxLen 0}}<input
				class="stretch-width" name="title" {{if gt .TitleMaxLen 0}}maxlength="{{.TitleMaxLen}}"{{end}}
				autocomplete="off" autocorrect="off" spellcheck="true"
				placeholder="{{call .Translate `main.EnterTitle`}}" tabindex=1 autofocus
			>
			{{else}}
			<h3>{{call .Translate `main.CreatePaste`}}</h3>
			{{end}}
		</div>
		<div class="text-bar-right">
			<select name="lineEnd" tabindex=2 size=1>
				<option value="LF">UNIX</option>
				<option value="CRLF">Windows/DOS</option>
				<option value="CR">Macintosh</option>
			</select>
		</div>
	</div>
	<div><textarea
		id="editor"
		name="body" placeholder="{{ call .Translate `main.EnterText` }}" {{if gt .BodyMaxLen 0}}maxlength="{{.BodyMaxLen}}"{{end}}
		autocomplete="off" autocorrect="off" spellcheck="true"
		rows=20  wrap="off" tabindex=3 required
	></textarea></div>
	<div class="text-bar">
		<div>
			<label for="syntax">{{ call .Translate `main.Syntax` }}</label
			><select name="syntax" tabindex=4 size=1>
				{{range .Lexers}}
				<option value="{{.}}"{{if eq . "plaintext"}} selected="true"{{end}}>{{.}}</option>
				{{end}}
			</select>
		</div>
		<div id="symbolCounterContainer" class="text-bar-right" style="align-self: flex-start;">
			{{if gt .BodyMaxLen 0}}<span class="text-grey">{{call .Translate `main.MaximumSymbols` .BodyMaxLen}}</span>{{end}}
		</div>
	</div>
	<div>
		<label class="checkbox"><input type="checkbox" name="oneUse" value="true" tabindex=5></input>{{ call .Translate `main.BurnAfterReading` }}</label>
	</div>
	<div>
		<label for="expiration">{{ call .Translate `main.Expiration` }}</label
		><select name="expiration" tabindex=6 size=1>
			{{if lt .MaxLifeTime 0                                }}<option value="0">{{ call .Translate `main.Never` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 600)      (lt .MaxLifeTime 0)}}<option value="600"{{if and       (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 0)           (lt .MaxLifeTime 1800)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `10min`}} selected="true"{{end}}>{{ call .Translate `main.10Minutes` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 1800)     (lt .MaxLifeTime 0)}}<option value="1800"{{if and      (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 600)         (lt .MaxLifeTime 3600)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `30min`}} selected="true"{{end}}>{{ call .Translate `main.30Minutes` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 3600)     (lt .MaxLifeTime 0)}}<option value="3600"{{if and      (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 1800)        (lt .MaxLifeTime 7200)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `1h`}} selected="true"{{end}}>{{ call .Translate `main.1Hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 7200)     (lt .MaxLifeTime 0)}}<option value="7200"{{if and      (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 3600)       (lt .MaxLifeTime 14400)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `2h`}} selected="true"{{end}}>{{ call .Translate `main.2Hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 14400)    (lt .MaxLifeTime 0)}}<option value="14400"{{if and     (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 7200)       (lt .MaxLifeTime 43200)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `4h`}} selected="true"{{end}}>{{ call .Translate `main.4Hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 43200)    (lt .MaxLifeTime 0)}}<option value="43200"{{if and     (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 14400)      (lt .MaxLifeTime 86400)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `12h`}} selected="true"{{end}}>{{ call .Translate `main.12Hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 86400)    (lt .MaxLifeTime 0)}}<option value="86400"{{if and     (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 43200)     (lt .MaxLifeTime 604800)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `1d`}} selected="true"{{end}}>{{ call .Translate `main.1Day` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 604800)   (lt .MaxLifeTime 0)}}<option value="604800"{{if and    (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 86400)    (lt .MaxLifeTime 1209600)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `1w`}} selected="true"{{end}}>{{ call .Translate `main.1Week` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 1209600)  (lt .MaxLifeTime 0)}}<option value="1209600"{{if and   (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 604800)   (lt .MaxLifeTime 2592000)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `2w`}} selected="true"{{end}}>{{ call .Translate `main.2Weeks` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 2592000)  (lt .MaxLifeTime 0)}}<option value="2592000"{{if and   (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 1209600)  (lt .MaxLifeTime 5184000)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `1mon`}} selected="true"{{end}}>{{ call .Translate `main.1Month` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 5184000)  (lt .MaxLifeTime 0)}}<option value="5184000"{{if and   (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 2592000) (lt .MaxLifeTime 15552000)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `2mon`}} selected="true"{{end}}>{{ call .Translate `main.2Months` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 15552000) (lt .MaxLifeTime 0)}}<option value="15552000"{{if and  (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 5184000) (lt .MaxLifeTime 31536000)}} selected="true"{{end}}{{if eq .UiDefaultLifeTime `6mon`}} selected="true"{{end}}>{{ call .Translate `main.6Months` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 31536000) (lt .MaxLifeTime 0)}}<option value="31536000"{{if and  (eq .UiDefaultLifeTime ``) (gt .MaxLifeTime 15552000)                          }} selected="true"{{end}}{{if eq .UiDefaultLifeTime `1y`}} selected="true"{{end}}>{{ call .Translate `main.1Year` }}</option>{{end}}
		</select>
	</div>
	<details>
		<summary><i>{{ call .Translate `main.AdvancedParameters` }}</i></summary>
		<table class="table-hidden">
			<tr>
				<td><label>{{ call .Translate `main.Author` }}</label></td>
				<td><input
					name="author" value="{{.AuthorDefault}}"
					autocomplete="off" autocorrect="off" spellcheck="true"
					placeholder="{{call .Translate `main.AuthorPlaceholder`}}"
					tabindex=-1 maxlength="{{.AuthorAllMaxLen}}"
				></td>
			</tr>
			<tr>
				<td><label>{{ call .Translate `main.AuthorEmail` }}</label></td>
				<td><input
					name="authorEmail" value="{{.AuthorEmailDefault}}"
					autocomplete="off" autocorrect="off" spellcheck="true"
					placeholder="{{call .Translate `main.AuthorEmailPlaceholder`}}"
					tabindex=-1 maxlength="{{.AuthorAllMaxLen}}"
				></td>
			</tr>
			<tr>
				<td><label>{{ call .Translate `main.AuthorURL` }}</label></td>
				<td><input
					name="authorURL"  value="{{.AuthorURLDefault}}"
					autocomplete="off" autocorrect="off" spellcheck="true"
					placeholder="{{call .Translate `main.AuthorURLPlaceholder`}}"
					tabindex=-1 maxlength="{{.AuthorAllMaxLen}}"
				></td>
			</tr>
		</table>
		<p class="text-grey">{{call .Translate `main.AdvancedParametersHelp` `/settings`}}</p>
	</details>
	<div class="text-bar">
		<div><button class="button-green" type="submit" tabindex=7>{{ call .Translate `main.Create` }}</button></div>
		<div class="text-bar-right">{{if .ServerTermsExist}}{{ call .Translate `main.AcceptTerms` `/terms` }}{{end}}</div>
	</div>
</form>
{{end}}
{{end}}
