{{/*
   Copyright (C) 2021-2023 Leonid Maslakov.

   This file is part of Lenpaste.

   Lenpaste is free software: you can redistribute it
   and/or modify it under the terms of the
   GNU Affero Public License as published by the
   Free Software Foundation, either version 3 of the License,
   or (at your option) any later version.

   Lenpaste is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
   or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU Affero Public License for more details.

   You should have received a copy of the GNU Affero Public License along with Lenpaste.
   If not, see <https://www.gnu.org/licenses/>.
*/}}

{{define "titlePrefix"}}{{if .Title}}{{.Title}}{{else}}{{.ID}}{{end}} | {{end}}
{{define "headAppend"}}
<script src="/paste.js"></script>
<script src="/code.js"></script>
{{end}}
{{define "article"}}
{{if .Title}}<input class="stretch-width" value="{{.Title}}" tabindex=1 readonly>
{{end}}

<div class="text-bar">
	<div>{{.Syntax}}, {{.LineEnd}}</div>

	{{if not .OneUse}}
	<div class="text-bar-right">
		<a href="/raw/{{.ID}}" tabindex=2>{{ call .Translate `paste.Raw` }}</a><a href="/dl/{{.ID}}" tabindex=3>{{ call .Translate `paste.Download` }}</a><a{{if ne .DeleteTime 0}} class="text-grey"{{end}} href="/emb_help/{{.ID}}" tabindex=4>{{ call .Translate `paste.Embedded`}}</a>
	</div>
	{{end}}
</div>

{{.Body}}

{{if and (ne .Author ``) (ne .AuthorEmail ``) (ne .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} {{.Author}} &lt<a href="mailto:{{.AuthorEmail}}">{{.AuthorEmail}}</a>&gt - <a target="_blank" href="{{.AuthorURL}}">{{.AuthorURL}}</a></p>{{end}}
{{if and (ne .Author ``) (ne .AuthorEmail ``) (eq .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} {{.Author}} &lt<a href="mailto:{{.AuthorEmail}}">{{.AuthorEmail}}</a>&gt</p>{{end}}
{{if and (ne .Author ``) (eq .AuthorEmail ``) (ne .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} {{.Author}} - <a target="_blank" href="{{.AuthorURL}}">{{.AuthorURL}}</a></p>{{end}}
{{if and (eq .Author ``) (ne .AuthorEmail ``) (ne .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} <a href="mailto:{{.AuthorEmail}}">{{.AuthorEmail}}</a> - <a target="_blank" href="{{.AuthorURL}}">{{.AuthorURL}}</a></p>{{end}}
{{if and (ne .Author ``) (eq .AuthorEmail ``) (eq .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} {{.Author}}</p>{{end}}
{{if and (eq .Author ``) (ne .AuthorEmail ``) (eq .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} <a href="mailto:{{.AuthorEmail}}">{{.AuthorEmail}}</a></p>{{end}}
{{if and (eq .Author ``) (eq .AuthorEmail ``) (ne .AuthorURL ``) }}<p>{{ call .Translate `paste.Author` }} <a target="_blank" href="{{.AuthorURL}}">{{.AuthorURL}}</a></p>{{end}}

<p>{{ call .Translate `paste.Created` }} <span id="createTime">{{.CreateTimeStr}}</span></p>

{{if .OneUse}}
<p>{{ call .Translate `paste.Expires` }} <span class="text-red">{{ call .Translate `paste.Now` }}</span></p>
{{else if eq .DeleteTime 0}}
<p>{{ call .Translate `paste.Expires` }} {{ call .Translate `paste.Never` }}</p>
{{else}}
<p>{{ call .Translate `paste.Expires` }} <span id="deleteTime">{{.DeleteTimeStr}}</span></p>
{{end}}

{{end}}
