{{define "titlePrefix"}}{{call .Translate `settings.Title`}} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3>{{call .Translate `settings.Title`}}</h3>
<form action="/settings" method="post">
	<div>
		<label for="expiration">{{ call .Translate `settings.Language` }}</label
		><select name="lang" tabindex=1 size=1>
			<option value="">{{call .Translate `settings.LanguageDefault`}}</option>
			{{ $language := .Language }}
			{{range $key, $value := .LanguageSelector}}
			<option value="{{$key}}"{{if eq $key $language}} selected="true"{{end}}>{{$value}}</option>
			{{end}}
		</select>
	</div>
	{{if eq .AuthOk true}}
	<h4>{{ call .Translate `main.AdvancedParameters` }}</h4>
	<table class="table-hidden">
		<tr>
			<td><label>{{ call .Translate `main.Author` }}</label></td>
			<td><input
				name="author" value="{{.Author}}"
				autocomplete="off" autocorrect="off" spellcheck="true"
				placeholder="{{call .Translate `main.AuthorPlaceholder`}}" tabindex=2
			></td>
		</tr>
		<tr>
			<td><label>{{ call .Translate `main.AuthorEmail` }}</label></td>
			<td><input
				name="authorEmail" value="{{.AuthorEmail}}"
				autocomplete="off" autocorrect="off" spellcheck="true"
				placeholder="{{call .Translate `main.AuthorEmailPlaceholder`}}" tabindex=3
			></td>
		</tr>
		<tr>
			<td><label>{{ call .Translate `main.AuthorURL` }}</label></td>
			<td><input
				name="authorURL" value="{{.AuthorURL}}"
				autocomplete="off" autocorrect="off" spellcheck="true"
				placeholder="{{call .Translate `main.AuthorURLPlaceholder`}}" tabindex=4
			></td>
		</tr>
	</table>
	{{end}}
	<div><button class="button-green" type="submit" tabindex=5>{{ call .Translate `settings.Save` }}</button></div>
</form>
{{end}}
