{{define "titlePrefix"}}{{ call .Translate `sourceCode.Title` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/about">{{ call .Translate `about.Title` }}</a> / {{ call .Translate `sourceCode.Title` }}</h3>
<p>{{ call .Translate `sourceCode.Message` }}
<br/>
<a href="https://git.lcomrade.su/root/lenpaste" target="_blank">https://git.lcomrade.su/root/lenpaste</a></p>
{{end}}
