name: Docker (unstable)
on:
  push:
    branches: [ main ]
    paths-ignore:
      - ".github/dependabot.yml"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/PULL_REQUEST_TEMPLATE/**"
      - ".gitignore"
      - "README.md"
      - "CHANGELOG.md"
      - "CONTRIBUTING.md"
      - "docs/**"
      - "init/**"
    tags-ignore:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo 
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/lenpaste:unstable
          platforms: linux/386,linux/amd64,linux/arm64/v8,linux/arm/v7,linux/arm/v6

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
