{{define "titlePrefix"}}About | {{end}}
{{define "article"}}
<h3>About</h3>
<ul>
	<li>Lenpaste is open source software. All <a href="/about/source_code">source code</a> is available under the <a href="/about/license">AGPL 3</a> license.</li>
	<li>You don't need to register here.</li>
	<li>This site does not use Java Script. Your privacy is respected here.</li>
	<li>Lenpaste has its own <a href="/docs/apiv1">API</a>.</li>
</ul>
<h3>This server</h3>
<p>Lenpaste version: <code>{{.Version}}</code>.<br/>
{{if ne .TitleMaxLen 0}}
Maximum length of the paste title: <code>{{.TitleMaxLen}}</code> symbols.<br/>
{{else}}
Paste titles are disabled on this server.<br/>
{{end}}
{{if gt .BodyMaxLen 0}}
Maximum length of the paste body: <code>{{.BodyMaxLen}}</code> symbols.</p>
{{else}}
There is no limit to the size of the paste body.</p>
{{end}}

{{end}}
