<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Lenpaste</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<header>
			<h2><a class="titleA" href="/">Lenpaste</a></h2>
		</header>
		<article>{{template "article" .}}</article>
		<footer>
			<p>
				<a class="footerA" href="/docs">API</a>
			</p>
		</footer>
	</body>
</html>
