{{define "titlePrefix"}}{{ call .Translate `Docs` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3>{{ call .Translate `Documentation` }}</h3>
<ul>
	<li><a href="/docs/apiv1">API v1</li>
	<li><a href="/docs/api_libs">{{ call .Translate `Libraries for working with API` }}</li>
</ul>
{{end}}
