{{define "titlePrefix"}}API v1 | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/docs">Documentation</a> / API v1</h3>


<h4 id="table-of-content">Table of content</h4>
<ul>
	<li><a href="#new">POST <code>/api/v1/new</code></a></li>
	<li><a href="#get">GET <code>/api/v1/get</code></a></li>
	<li><a href="#getServerInfo">GET <code>/api/v1/getServerInfo</code></a></li>
	<li><a href="#errors">Possible API Errors</a></li>
</ul>


<h4 id="new">POST <code>/api/v1/new</code></h4>
<p>Request parameters:</p>
<table>
	<th>Field</th>
	<th>Required?</th>
	<th>Default</th>
	<th>Description</th>
	<tr>
		<td><code>title</code></td>
		<td></td>
		<td></td>
		<td>Paste title.</td>
	</tr>
	<tr>
		<td><code>body</code></td>
		<td>Yes</td>
		<td></td>
		<td>Paste text.</td>
	</tr>
	<tr>
		<td><code>lineEnd</code></td>
		<td></td>
		<td><code>LF</code></td>
		<td>
			The end of a line in the paste body.
			The text will be automatically recoded to match the selected end of line.
			Can accept <code>LF</code>, <code>CRLF</code> or <code>CR</code>.
		</td>
	</tr>
	<tr>
		<td><code>syntax</code></td>
		<td></td>
		<td><code>plaintext</code></td>
		<td>Paste syntax. You can get a list of semi-retained syntaxes using the <a href="#getServerInfo"><code>getServerInfo</code></a> method.</td>
	</tr>
	<tr>
		<td><code>oneUse</code></td>
		<td></td>
		<td><code>false</code></td>
		<td>If <code>true</code> then the paste is removed after opening.</td>
	</tr>
	<tr>
		<td><code>expiration</code></td>
		<td></td>
		<td><code>0</code></td>
		<td>The "lifetime" of the paste in seconds. To prevent the paste from expiring, simply do not set this parameter.</td>
	</tr>
</table>
<p>Response example:</p>
{{ call .Highlight `{
	"id": "XcmX9ON1"
}` `json`}}


<h4 id="get">GET <code>/api/v1/get</code></h4>
<p>Request parameters:</p>
<table>
	<th>Field</th>
	<th>Required?</th>
	<th>Default</th>
	<th>Description</th>
	<tr>
		<td><code>id</code></td>
		<td>Yes</td>
		<td></td>
		<td>Paste ID.</td>
	</tr>
	<tr>
		<td><code>openOneUse</code></td>
		<td></td>
		<td><code>false</code></td>
		<td>
			If <code>true</code>, it will be all the contents of the paste after which it will be deleted.
			If it's <code>false</code>, you will only get the <code>id</code> and <code>oneUse</code>, but the paste will stay on the server.
		</td>
	</tr>
</table>
<p>Response example:</p>
{{ call .Highlight `{
	"id": "XcmX9ON1",
	"title": "Paste title.",
	"body": "Line 1.\nLine 2.\nLine 3.\n\nLine 5.",
	"createTime": 1653387358,
	"deleteTime": 0,
	"oneUse": false,
	"syntax": "plaintext"
}` `json`}}
{{ call .Highlight `{
	"id": "5mqqHZRg",
	"title": "",
	"body": "",
	"createTime": 0,
	"deleteTime": 0,
	"oneUse": true,
	"syntax": ""
}` `json`}}


<h4 id="getServerInfo">GET <code>/api/v1/getServerInfo</code></h4>
<p>Response example:</p>
{{ call .Highlight `{
	"version": "0.2-60-g3fcc9ce",
	"titleMaxlength": 100,
	"bodyMaxlength": 10000,
	"maxLifeTime": -1,
	"serverAbout": "<p>1 2 3 4</p>\n",
	"serverRules": "",
	"adminName": "Vasya Pupkin",
	"adminMail": "me@example.org",
	"syntaxes": [
		"ABAP",
		"ABNF",
		"AL",
		"ANTLR",
		"APL",
		"ActionScript",
		"ActionScript 3",
		"Ada",
		"Angular2",
		"ApacheConf",
		"AppleScript",
		"Arduino",
		"ArmAsm",
		"Awk"
	]
}` `json`}}


<h4 id="errors">Possible API Errors</h4>
<p>This API method exists on the server, but you passed the wrong arguments for it.</p>
{{ call .Highlight `{
	"code": 400,
	"error": "Bad Request"
}` `json`}}

<p>There is no paste with this ID.</p>
{{ call .Highlight `{
	"code": 404,
	"error": "Could not find ID"
}` `json`}}

<p>There is no such API method.</p>
{{ call .Highlight `{
	"code": 404,
	"error": "Not Found"
}` `json`}}

<p>You made a mistake with HTTP request (example: you made POST instead of GET).</p>
{{ call .Highlight `{
	"code": 405,
	"error": "Method Not Allowed"
}` `json`}}

<p>There was a failure on the server. Contact your server administrator to find out what the problem is.</p>
{{ call .Highlight `{
	"code": 500,
	"error": "Internal Server Error"
}` `json`}}
{{end}}
