{{define "titlePrefix"}}API v1 | {{end}}
{{define "article"}}
<h3><a href="/docs">Documentation</a> / API v1</h3>
<h4>POST <code>/api/v1/new</code></h4>
<p>Request Parameters:</p>
<table>
	<th>Field</th>
	<th>Required?</th>
	<th>Description</th>
	<tr>
		<td><code>title</code></td>
		<td></td>
		<td>Paste title.</td>
	</tr>
	<tr>
		<td><code>body</code></td>
		<td>Yes</td>
		<td>Paste text.</td>
	</tr>
	<tr>
		<td><code>oneUse</code></td>
		<td></td>
		<td>If <code>true</code> then the paste is removed after opening.</td>
	</tr>
	<tr>
		<td><code>expiration</code></td>
		<td></td>
		<td>The "lifetime" of the paste in seconds. To prevent the paste from expiring, simply do not set this parameter.</td>
	</tr>
</table>
<p>Response example:</p>
<pre><code>{
    "id": "XcmX9ON1",
    "title": "Paste title.",
    "body": "Line 1.\r\nLine 2.\r\nLine 3.\r\n\r\nLine 5.",
    "createTime": 1653387358,
    "deleteTime": 0,
    "oneUse": false
}
</code></pre>
<h4>GET <code>/api/v1/get</code></h4>
<p>Request Parameters:</p>
<table>
	<th>Field</th>
	<th>Required?</th>
	<th>Description</th>
	<tr>
		<td><code>id</code></td>
		<td>Yes</td>
		<td>Paste ID.</td>
	</tr>
</table>
<p>Response example:</p>
<pre><code>{
    "id": "XcmX9ON1",
    "title": "Paste title.",
    "body": "Line 1.\r\nLine 2.\r\nLine 3.\r\n\r\nLine 5.",
    "createTime": 1653387358,
    "deleteTime": 0,
    "oneUse": false
}
</code></pre>
{{end}}
