{{define "titlePrefix"}}Libraries for working with API | {{end}}
{{define "article"}}
<h3><a href="/docs">Documentation</a> / Libraries for working with API</h3>
<h4 id="recommended">Recommended</h4>
<table>
	<th>Name</th>
	<th>Language</th>
	<th>API version</th>
	<th>Status</th>
	<th>License</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/pasteapi.go" target="_blank">PasteAPI.go</a></td>
		<td>Go</td>
		<td>v1.0</td>
		<td>Official</td>
		<td>MIT</td>
	</tr>
</table>
<h4 id="out_of_date">Out of date</h4>
<p>Updates for these libraries are no longer available. This means that they cannot be used with Lenpaste v1.0 and higher.</p>
<table>
	<th>Name</th>
	<th>Language</th>
	<th>API version</th>
	<th>Status</th>
	<th>License</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/lenin" target="_blank">Lenin</a></td>
		<td>Go</td>
		<td>v0.2</td>
		<td>Official</td>
		<td>GPL 3.0 or later</td>
	</tr>
	<tr>
		<td><a href="https://github.com/rjdbcm/pylenin" target="_blank">PyLenin</a></td>
		<td>Python</td>
		<td>v0.1</td>
		<td>Unofficial</td>
		<td>GPL 3.0 or later</td>
	</tr>
</table>
{{end}}
