{{define "titlePrefix"}}{{ call .Translate `Libraries for working with API` }} | {{end}}
{{define "headAppend"}}{{end}}
{{define "article"}}
<h3><a href="/docs">{{ call .Translate `Documentation` }}</a> / {{ call .Translate `Libraries for working with API` }}</h3>
<h4 id="recommended">{{ call .Translate `Recommended` }}</h4>
<table>
	<th>{{ call .Translate `Name` }}</th>
	<th>{{ call .Translate `Language` }}</th>
	<th>{{ call .Translate `API version` }}</th>
	<th>{{ call .Translate `Status` }}</th>
	<th>{{ call .Translate `License` }}</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/pasteapi.go" target="_blank">PasteAPI.go</a></td>
		<td>Go</td>
		<td>v1.0</td>
		<td>{{ call .Translate `Official`}}</td>
		<td>MIT</td>
	</tr>
</table>
<h4 id="out_of_date">{{ call .Translate `Out of date` }}</h4>
<p>{{ call .Translate `Updates for these libraries are no longer available. This means that they cannot be used with Lenpaste v1.0 and higher.` }}</p>
<table>
	<th>{{ call .Translate `Name` }}</th>
	<th>{{ call .Translate `Language` }}</th>
	<th>{{ call .Translate `API version` }}</th>
	<th>{{ call .Translate `Status` }}</th>
	<th>{{ call .Translate `License` }}</th>
	<tr>
		<td><a href="https://git.lcomrade.su/root/lenin" target="_blank">Lenin</a></td>
		<td>Go</td>
		<td>v0.2</td>
		<td>{{ call .Translate `Official` }}</td>
		<td>{{ call .Translate `GPL 3.0 or later` }}</td>
	</tr>
	<tr>
		<td><a href="https://github.com/rjdbcm/pylenin" target="_blank">PyLenin</a></td>
		<td>Python</td>
		<td>v0.1</td>
		<td>{{ call .Translate `Unofficial` }}</td>
		<td>{{ call .Translate `GPL 3.0 or later` }}</td>
	</tr>
</table>
{{end}}
