{{define "titlePrefix"}}Docs | {{end}}
{{define "article"}}
<h3>Documentation</h3>
<ul>
	<li><a href="/docs/apiv1">API v1</li>
	<li><a href="/docs/api_libs">Libraries for working with API</li>
</ul>
{{end}}
