<!doctype html>
<html>
	<head>
		<style>
			body {
				margin: 0;
				font-family: monospace;
				font-size: 16px;
				color: #F8F8F2;
				background-color: #272822;
			}
			header {
				padding: 0.4em 1.8em 0.4em 1.8em;
				display: flex;
				justify-content: space-between;
			}
			.header-right {
				align-self: flex-end;
				text-align: right;
			}
			header a {
				color: #FFFFFF;
				text-decoration: none;
			}
			pre {
				border-top: 1px solid #75715E;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<header>
			<div>{{if .Title}}<a href="/{{.ID}}" target="_blank">{{.Title}}</a>{{end}}</div>
			<div class="header-right"><a href="/{{.ID}}" target="_blank">{{.CreateTimeStr}}</a></div>
		</header>
		{{if or (.ErrorNotFound) (.OneUse) (ne .DeleteTime 0)}}
		<article>
			{{if .ErrorNotFound}}
			<pre><code style="margin-left: 0.4em;"><span style="color: #F92672;">{{ call .Translate `Error` }}:</span> 404 {{ call .Translate `Not Found` }}</code></pre>
			{{else}}
			<pre><code style="margin-left: 0.4em;"><span style="color: #F92672;">{{ call .Translate `Error` }}:</span> {{ call .Translate `Could not embedded this paste` }}</code></pre>
			{{end}}
		</article>
		{{else}}
		<article>{{.Body}}</article>
		{{end}}
	</body>
</html>
