<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Read | Lenpaste</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<div class="title">
			<h2>Lenpaste</h2>
		</div>
		<p><textarea wrap="off" autofocus tabindex=1 rows=30 cols=100 readonly>{{.Text}}</textarea></p>
		<p>Expires in: {{.ExpiresDay}} days, {{.ExpiresHour}} hours, {{.ExpiresMin}} minutes</p>
	</body>
</html>
