<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Anonymous paste</title>
	</head>
	<body>
		<pre>{{.Text}}</pre>
		<p>Expires in:: {{.ExpiresDay}} days, {{.ExpiresMin}} minutes</p>
	</body>
</html>
