{{define "titlePrefix"}}{{end}}
{{define "article"}}
<h3>Create paste</h3>
<form action="/" method="post">
	<div><input
		class="stretch-width" name="title"
		autocomplete="off" autocorrect="off" spellcheck="true"
		placeholder="Enter title..." tabindex=1 autofocus
		></div>
	<div><textarea
		name="body" placeholder="Enter text..."
		autocomplete="off" autocorrect="off" spellcheck="true"
		rows=20  wrap="off" tabindex=2 required
	></textarea></div>
	<div><input type="checkbox" name="oneUse" value="true" tabindex=3>Burn after reading</input></div>
	<div>
		<label for="expiration">Expiration:</label>
		<select name="expiration" tabindex=4 size=1>
			<option value="0" selected>Never</option>
			<option value="600">10 minutes</option>
			<option value="1800">30 minutes</option>
			<option value="3600">1 hour</option>
			<option value="7200">2 hour</option>
			<option value="14400">4 hour</option>
			<option value="43200">12 hour</option>
			<option value="86400">1 day</option>
			<option value="604800">1 week</option>
			<option value="1209600">2 weeks</option>
			<option value="2419200">1 Month</option>
			<option value="4838400">2 Months</option>
			<option value="14515200">6 Months</option>
			<option value="29030400">1 Year</option>
		</select>
	</div>
	<div><button class="button-green" type="submit" tabindex=5>Create paste</button></div>
</form>
{{end}}
