<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Lenpaste</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<header>
			<h2><a class="titleA" href=/>Lenpaste</a></h2>
		</header>
		<div class="main">
			<div class="totalMsg">
				{{if .Exist}}
				<h3>About this server</h3>
				<pre>{{.Text}}</pre>
				{{end}}
				<h3>About Lenpaste</h3>
				<ul>
					<li>Lenpaste is open source software. All source code is available in the <a href=https://github.com/lcomrade/lenpaste>GitHub repository</a> under the AGPL 3 license.</li>
					<li>This site does not use Java Script. Your privacy is respected here.</li>
					<li>IP addresses are not saved in the logs.</li>
					<li>You don't need to register here.</li>
					<li>Lenpaste has its own <a href=/api>API</a>.</li>
				</ul>
				<h3>Let's start</h3>
				<form action="/new" method="post">
					<p>Don't forget to read the <a href=/rules>RULES</a> of this server!</p>
					<p><input type="submit" value="Create paste" tabindex=1 class="button"></p>
				</form>
			</div>
		</div>
		<footer>
			<p>
				<a href=/rules class="footerA">Server rules</a>
				<a href=/api class="footerA">API</a>
				<a href=/version class="footerA">Version</a>
			</p>
		</footer>
	</body>
</html>
