{{define "titlePrefix"}}{{end}}
{{define "headAppend"}}<script src="/main.js"></script>{{end}}
{{define "article"}}
{{if ne .TitleMaxLen 0}}<h3>{{ call .Translate `Create paste` }}</h3>{{end}}
<form action="/" method="post">
	<div class="text-bar">
		<div>
			{{if ne .TitleMaxLen 0}}<input
				class="stretch-width" name="title" {{if gt .TitleMaxLen 0}}maxlength="{{.TitleMaxLen}}"{{end}}
				autocomplete="off" autocorrect="off" spellcheck="true"
				placeholder="{{ call .Translate `Enter title...` }}" tabindex=1 autofocus
			>
			{{else}}
			<h3>Create paste</h3>
			{{end}}
		</div>
		<div class="text-bar-right">
			<select name="lineEnd" tabindex=2 size=1>
				<option value="LF" selected="true">UNIX</option>
				<option value="CRLF">Windows/DOS</option>
				<option value="CR">Macintosh</option>
			</select>
		</div>
	</div>
	<div><textarea
		id="editor"
		name="body" placeholder="{{ call .Translate `Enter text...` }}" {{if gt .BodyMaxLen 0}}maxlength="{{.BodyMaxLen}}"{{end}}
		autocomplete="off" autocorrect="off" spellcheck="true"
		rows=20  wrap="off" tabindex=3 required
	></textarea></div>
	<div class="text-bar">
		<div>
			<label for="syntax">{{ call .Translate `Syntax:` }}</label
			><select name="syntax" tabindex=4 size=1>
				{{range .Lexers}}
				<option value="{{.}}"{{if eq . "plaintext"}} selected="true"{{end}}>{{.}}</option>
				{{end}}
			</select>		
		</div>
		<div id="symbolCounterContainer" class="text-bar-right" style="align-self: flex-start;">
			{{if gt .BodyMaxLen 0}}<span class="text-grey">{{ call .Translate `*Maximum` }} {{.BodyMaxLen}} {{ call .Translate `symbols` }}</span>{{end}}
		</div>
	</div>
	<div>
		<label class="checkbox"><input type="checkbox" name="oneUse" value="true" tabindex=5></input>{{ call .Translate `Burn after reading` }}</label>
	</div>
	<div>
		<label for="expiration">{{ call .Translate `Expiration:` }}</label
		><select name="expiration" tabindex=6 size=1>
			{{if lt .MaxLifeTime 0                                }}<option value="0">{{ call .Translate `Never` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 600)      (lt .MaxLifeTime 0)}}<option value="600">{{ call .Translate `10 minutes` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 1800)     (lt .MaxLifeTime 0)}}<option value="1800">{{ call .Translate `30 minutes` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 3600)     (lt .MaxLifeTime 0)}}<option value="3600">{{ call .Translate `1 hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 7200)     (lt .MaxLifeTime 0)}}<option value="7200">{{ call .Translate `2 hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 14400)    (lt .MaxLifeTime 0)}}<option value="14400">{{ call .Translate `4 hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 43200)    (lt .MaxLifeTime 0)}}<option value="43200">{{ call .Translate `12 hour` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 86400)    (lt .MaxLifeTime 0)}}<option value="86400">{{ call .Translate `1 day` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 604800)   (lt .MaxLifeTime 0)}}<option value="604800">{{ call .Translate `1 week` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 1209600)  (lt .MaxLifeTime 0)}}<option value="1209600">{{ call .Translate `2 weeks` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 2629800)  (lt .MaxLifeTime 0)}}<option value="2629800">{{ call .Translate `1 month` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 5259600)  (lt .MaxLifeTime 0)}}<option value="5259600">{{ call .Translate `2 months` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 15778800) (lt .MaxLifeTime 0)}}<option value="15778800">{{ call .Translate `6 months` }}</option>{{end}}
			{{if or (ge .MaxLifeTime 31557600) (lt .MaxLifeTime 0)}}<option value="31557600">{{ call .Translate `1 year` }}</option>{{end}}
		</select>
	</div>
	<div><button class="button-green" type="submit" tabindex=7>{{ call .Translate `Create` }}</button></div>
</form>
{{end}}
