{{define "article"}}
<h3>Create paste</h3>
<form action="/new" method="post">
	<div><input name="title" placeholder="Enter title..." tabindex=1 autofocus></div>
	<div><textarea name="body" placeholder="Enter text..." wrap="off" tabindex=2 required></textarea></div>
	<div><input type="checkbox" name="oneUse" value="true" tabindex=3>Burn after reading</input></div>
	<div>
		<label for="expiration">Expiration:</label>
		<select name="expiration" tabindex=4 size=1>
			<option value="600">10 minutes</option>
			<option value="1800">30 minutes</option>
			<option value="3600">1 hour</option>
			<option value="7200">2 hour</option>
			<option value="14400">4 hour</option>
			<option value="43200">12 hour</option>
			<option value="86400">1 day</option>
			<option value="604800" selected>1 week</option>
		</select>
	</div>
	<div><button type="submit" tabindex=5>Create paste</button></div>
</form>
{{end}}
