<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>New anon paste created</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<div class="totalMsg">
			<p>Link: <a href=/{{.Name}}>{{.Name}}</a></p>
		</div>
	</body>
</html>
