{{define "titlePrefix"}}{{.ID}} | {{end}}
{{define "article"}}
<h3>Continue?</h3>
<p>This paste can only be viewed once. After you do this, it will be deleted. Continue?</p>
<div class="button-block-right">
	<form action="/" method="get">
		<button type="submit" tabindex=1>Cancel</button>
	</form>
	<form action="/{{.ID}}" method="post">
		<input type="hidden" name="oneUseContinue" value="true"></input>
		<button class="button-green" type="submit" tabindex=2>Continue</button>
	</form>
</div>
{{end}}
