{{define "titlePrefix"}}{{if .Title}}{{.Title}}{{else}}{{.ID}}{{end}} | {{end}}
{{define "article"}}
{{if .Title}}<h3>{{.Title}}</h3>{{end}}

{{if not .OneUse}}
<p style="text-align: right;"><a href="/raw/{{.ID}}" tabindex=2>Raw</a> <a href="/dl/{{.ID}}" tabindex=3>Download</a></p>
{{end}}

<textarea wrap="off" rows=30 autofocus tabindex=1 readonly>{{.Body}}</textarea>

<p>Created: {{.CreateTimeStr}}</p>

{{if .OneUse}}
<p>Expires: <span class="text-red">Now</span></p>
{{else if eq .DeleteTime 0}}
<p>Expires: Never</p>
{{else}}
<p>Expires: {{.DeleteTimeStr}}</p>
{{end}}

{{end}}
