{{define "titlePrefix"}}{{if .Title}}{{.Title}}{{else}}{{.ID}}{{end}} | {{end}}
{{define "article"}}
{{if .Title}}<input class="stretch-width" value="{{.Title}}" tabindex=1 readonly>
{{end}}

<div class="text-bar">
	<div>{{.Syntax}}</div>

	{{if not .OneUse}}
	<div class="text-bar-right">
		<a href="/raw/{{.ID}}" tabindex=2>Raw</a><a href="/dl/{{.ID}}" tabindex=3>Download</a><a{{if ne .DeleteTime 0}} class="text-grey"{{end}} href="/emb_help/{{.ID}}" tabindex=4>Embedded</a>
	</div>
	{{end}}
</div>

{{.Body}}

<p>Created: {{.CreateTimeStr}}</p>

{{if .OneUse}}
<p>Expires: <span class="text-red">Now</span></p>
{{else if eq .DeleteTime 0}}
<p>Expires: Never</p>
{{else}}
<p>Expires: {{.DeleteTimeStr}}</p>
{{end}}

{{end}}
