<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Rules | Lenpaste</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<div class="title">
			<h2><a class="titleA" href=/>Lenpaste</a></h2>
		</div>
		<h3>This server rules</h3>
		<p><textarea wrap="off" autofocus tabindex=1 rows=30 cols=100 readonly>{{.Text}}</textarea></p>
	</body>
</html>
