{{define "titlePrefix"}}Source code | {{end}}
{{define "article"}}
<h3><a href="/about">About</a> / Source code</h3>
<p>Sorry, it is not yet possible to download the source code directly from the Lenpaste server.
But you can download it at this link:
<br/>
<a href="https://git.lcomrade.su/root/lenpaste" target="_blank">https://git.lcomrade.su/root/lenpaste</a></p>
{{end}}
