/* MAIN */
body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	background-color: #333333;
	font-family: sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

@media only screen and (orientation: landscape){
	body {
		width: 50%;
	}
}

@media only screen and (orientation: portrait){
	body {
		width: 95%;
	}
}


/* HEADER */
header {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background: #E88B2E;
}

header h2,
header h4 {
	display: inline;
	margin-right: 15px;
	padding: 0;
}

header h2 a, header h2 a:hover,
header h4 a, header h4 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


/* ARTICLE */
article {
	width: 100%;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	line-height: 1.5;
	background: #444444;
}


/* CONTAINERS */
.stretch-width {
	width: 100%;
	box-sizing: border-box;	
}

.button-block-right {
	display: flex;
	justify-content: flex-end;
}

.button-block-right button {
	margin-left: 20px;
}


/* OTHER */
h1, h2, h3, h4, h5, h6,
p, pre,
select, label,
button, input,
textarea {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 {
	margin-top: 40px;
}

pre, textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	background-color: #666666;
	padding: 10px;
	border: 2px;
	font-family: monospace;
	font-size: inherit;
	color: inherit;
}

textarea {
	min-height: 100px;
	resize: vertical;
}

input {
	background: #666666;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	padding: 10px;
	border: 2px;
}

select {
	background: #666666;
	color: #FFFFCC;
	font-size: 16px;
	padding: 4px 4px 4px 4px;
	border: 2px;
}

select:hover {
	background: #777777;
	cursor: pointer;
}

button {
	 background: #888888;
	 font-size: 16px;
	 padding: 6px 6px 6px 6px;
	 border: 2px;
}

button:hover {
	background: #999999;
	cursor: pointer;
}

.button-green {
	background: #66CC00;
}

.button-green:hover {
	background: #74D117;
}

ul {
	list-style: square;
}

code {
	background-color: #666666;
	padding: 2px 5px 2px 5px;
	color: inherit;
}

pre code {
	background-color: inherit;
}

summary {
	cursor: pointer;
}

table {
	background: inherit;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 10px;
	border: 1px;
	border-style: solid;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

a, a:hover {
	color: #3DAEE9;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
	text-decoration: none;
}
