body {
	margin: 0;
	margin-bottom: 40px;
	text-align: center;
	background-color: #333333;
	font-size: 16px;
	color: #FFFFFF;
}

textarea {
	background-color: #999999;
	padding: 10px 10px 10px 10px;
	border: 1px;
	border-radius: 6px;
	font-size: 14px;
}

select {
	background: #666666;
	color: #FFFFCC;
	font-size: 14px;
	padding: 4px 4px 4px 4px;
	border: 2px;
	border-radius: 4px;
}

select:hover {
	background: #999999;
	cursor: pointer;
}

input {
	 background: #66CC00;
	 font-size: 16px;
	 padding: 6px 6px 6px 6px;
	 border: 2px;
	 border-radius: 7px;
}

input:hover {
	background: #99FF66;
	cursor: pointer;
}

ul {
	list-style: square;
}

mark {
	background: #3366CC;
	padding: 2px 5px 2px 5px;
	border-radius: 2px;
	color: #FFFFFF;
}

details {
	cursor: pointer;
}

pre {
	background: #3366CC;
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
	color: #FFFFFF;
}

table {
	background: #3366CC;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 2px 10px 2px 10px;
	border: 1px;
	border-style: solid;
}

.title {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	margin-bottom: 20px;
	background: #FF9933;
	text-align: left;
}

.titleA {
	color: #FFFFFF;
	text-decoration: none;
}

.totalMsg {
	text-align: left;
	line-height: 1.5;
	display: inline-block;
	background: #999999;
	font-size: 18px;
	padding: 20px;
	border: 1px;
	border-radius: 6px;
}
